parameters:
	ignoreErrors:
		-
			message: "#^Method Guanguans\\\\Notify\\\\ServerChan\\\\Messages\\\\Message\\:\\:encrypt\\(\\) is unused\\.$#"
			count: 1
			path: src/ServerChan/Messages/Message.php
