parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Foundation/Client.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Foundation/Message.php

		-
			message: "#^Function data_get not found\\.$#"
			count: 1
			path: src/Foundation/Response.php

		-
			message: "#^Function value not found\\.$#"
			count: 1
			path: src/Foundation/Response.php

		-
			message: "#^Instantiated class Illuminate\\\\Http\\\\Client\\\\RequestException not found\\.$#"
			count: 1
			path: src/Foundation/Response.php

		-
			message: "#^Method Guanguans\\\\Notify\\\\Foundation\\\\Response\\:\\:toException\\(\\) has invalid return type Illuminate\\\\Http\\\\Client\\\\RequestException\\.$#"
			count: 1
			path: src/Foundation/Response.php

		-
			message: "#^PHPDoc tag @throws with type Illuminate\\\\Http\\\\Client\\\\RequestException is not subtype of Throwable$#"
			count: 6
			path: src/Foundation/Response.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Foundation/Response.php

		-
			message: "#^Unsafe access to private property Guanguans\\\\Notify\\\\Foundation\\\\Support\\\\Str\\:\\:\\$camelCache through static\\:\\:\\.$#"
			count: 3
			path: src/Foundation/Support/Str.php

		-
			message: "#^Unsafe access to private property Guanguans\\\\Notify\\\\Foundation\\\\Support\\\\Str\\:\\:\\$snakeCache through static\\:\\:\\.$#"
			count: 4
			path: src/Foundation/Support/Str.php

		-
			message: "#^Unsafe access to private property Guanguans\\\\Notify\\\\Foundation\\\\Support\\\\Str\\:\\:\\$studlyCache through static\\:\\:\\.$#"
			count: 4
			path: src/Foundation/Support/Str.php

		-
			message: """
				#^PHPDoc tag @param has invalid value \\(array\\{
				    name\\: string,
				    contents\\: StreamInterface\\|resource\\|string,
				    headers\\: array\\<string, string\\>,
				    filename\\: string
				    \\.\\.\\.
				\\}\\|StreamInterface\\|resource\\|scalar\\|null  \\$contents\\)\\: Unexpected token "\\.\\.\\.", expected '\\}' at offset 245$#
			"""
			count: 1
			path: src/Foundation/Support/helpers.php

		-
			message: "#^Class Guanguans\\\\Notify\\\\Foundation\\\\Testing\\\\MockHandler extends @final class GuzzleHttp\\\\Handler\\\\MockHandler\\.$#"
			count: 1
			path: src/Foundation/Testing/MockHandler.php

		-
			message: "#^Property Guanguans\\\\Notify\\\\Pushover\\\\Messages\\\\Message\\:\\:\\$allowedValues has unknown class int as its type\\.$#"
			count: 1
			path: src/Pushover/Messages/Message.php

		-
			message: "#^Property Guanguans\\\\Notify\\\\Telegram\\\\Messages\\\\TextMessage\\:\\:\\$allowedValues has unknown class string as its type\\.$#"
			count: 1
			path: src/Telegram/Messages/TextMessage.php
