includes:
    - phpstan-baseline.neon
#    - vendor/roave/no-floaters/rules.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/ergebnis/phpstan-rules/rules.neon
#    - vendor/ekino/phpstan-banned-code/extension.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: .build/phpstan
    errorFormat: symplify
#    errorFormat: friendly
#    friendly:
#        lineBefore: 3
#        lineAfter: 3
#        editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    type_coverage:
        declare: 100
        return_type: 100
        param_type: 100
        property_type: 100
        constant_type: 100
#    checkOctaneCompatibility: true
#    checkModelProperties: true
#    checkMissingIterableValueType: true
#    disallowFloatsEverywhere: true

#    strictRules:
#        allRules: false
#        booleansInConditions: false
#        uselessCast: false
#        requireParentConstructorCall: false
#        disallowedConstructs: false
#        overwriteVariablesWithLoop: false
#        closureUsesThis: false
#        matchingInheritedMethodNames: false
#        numericOperandsInArithmeticOperators: false
#        strictCalls: false
#        switchConditionsMatchingType: false
#        noVariableVariables: false

    ignoreErrors:
        - '#^@readonly property cannot have a default value\.$#'
        - '#^@readonly property Guanguans\\Notify\\Foundation\\Response\:\:\$.* is assigned outside of the constructor\.$#'
        - '#^Call to function method_exists\(\) with \$this\(Guanguans\\Notify\\Foundation\\Message\) and ''.*'' will always evaluate to true\.$#'
        - '#^Call to method sendAsync\(\) on an unknown class Guanguans\\Notify\\Foundation\\Concerns\\HasHttpClient\.$#'
        - '#^Trait Guanguans\\Notify\\Foundation\\Concerns\\As.* is used zero times and is not analysed\.$#'
        - '#^Unsafe usage of new static\(\)\.$#'
        - '#^Unused result of "and" operator\.$#'
        - '#^Unused result of "or" operator\.$#'
