includes:
    - baselines/loader.neon
#    - phpstan-baseline.neon

    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
#    - vendor/spaze/phpstan-disallowed-calls/extension.neon

#    - vendor-bin/larastan/vendor/larastan/larastan/extension.neon
#    - vendor/ekino/phpstan-banned-code/extension.neon
#    - vendor/ergebnis/phpstan-rules/rules.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/roave/no-floaters/rules.neon

    - vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
#    - vendor/symplify/phpstan-rules/config/configurable-rules.neon
#    - vendor/symplify/phpstan-rules/config/naming-rules.neon
#    - vendor/symplify/phpstan-rules/config/static-rules.neon
#    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

#    - vendor/symplify/phpstan-rules/config/doctrine-rules.neon
#    - vendor/symplify/phpstan-rules/config/phpunit-rules.neon
#    - vendor/symplify/phpstan-rules/config/rector-rules.neon
#    - vendor/symplify/phpstan-rules/config/symfony-rules.neon

parameters:
    paths:
        - src/
    scanFiles:
        - vendor/composer/InstalledVersions.php
    excludePaths:
        - tests/Fixtures/
#    level: max
    level: 8
    tmpDir: .build/phpstan
#    errorFormat: symplify
    errorFormat: friendly
    friendly:
        lineBefore: 3
        lineAfter: 3
        editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    type_coverage:
        declare: 100
        param_type: 100
        return_type: 100
        constant_type: 100
        property_type: 100
    type_perfect:
        narrow_param: true
        narrow_return: true
        null_over_false: true
        no_mixed: true
        no_mixed_property: true
        no_mixed_caller: true
    disallowedFunctionCalls:
        -
            function: 'env()'
            message: 'use config() instead'
        -
            function: 'env_explode()'
            message: 'use config() instead'
        -
            function: 'env_getcsv()'
            message: 'use config() instead'
    ignoreErrors:
#        - identifier: binaryOp.invalid
#        - identifier: cast.string
#        - identifier: encapsedStringPart.nonString
#        - identifier: return.void
        - identifier: return.type
        - identifier: argument.type
        - identifier: argument.templateType
        - identifier: logicalAnd.resultUnused
        - identifier: logicalOr.resultUnused
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: new.static
        - identifier: symplify.noDynamicName
        - identifier: typePerfect.noMixedMethodCaller
        - '#^@readonly property Guanguans\\Notify\\Foundation\\Response\:\:\$.* is assigned outside of the constructor\.$#'
        - '#^Call to function method_exists\(\) with \$this\(Guanguans\\Notify\\Foundation\\Message\) and ''.*'' will always evaluate to true\.$#'
        - '#^Trait Guanguans\\Notify\\Foundation\\Concerns\\As.* is used zero times and is not analysed\.$#'
