includes:
    - baselines/loader.neon
#    - phpstan-baseline.neon

    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
#    - vendor/spaze/phpstan-disallowed-calls/extension.neon

#    - vendor-bin/larastan/vendor/larastan/larastan/extension.neon
#    - vendor/ekino/phpstan-banned-code/extension.neon
#    - vendor/ergebnis/phpstan-rules/rules.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/roave/no-floaters/rules.neon

    - vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
#    - vendor/symplify/phpstan-rules/config/configurable-rules.neon
#    - vendor/symplify/phpstan-rules/config/naming-rules.neon
#    - vendor/symplify/phpstan-rules/config/static-rules.neon
#    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

#    - vendor/symplify/phpstan-rules/config/doctrine-rules.neon
#    - vendor/symplify/phpstan-rules/config/phpunit-rules.neon
#    - vendor/symplify/phpstan-rules/config/rector-rules.neon
#    - vendor/symplify/phpstan-rules/config/symfony-rules.neon

parameters:
    paths:
        - src
#        - .php-cs-fixer.php
    excludePaths:
        - tests/Fixtures/
#    level: max
    level: 6
    tmpDir: .build/phpstan
    errorFormat: symplify
#    errorFormat: friendly
#    friendly:
#        lineBefore: 3
#        lineAfter: 3
#        editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    type_coverage:
        declare: 100
        return_type: 100
        param_type: 100
        property_type: 100
        constant_type: 100
    disallowedFunctionCalls:
        -
            function: 'env()'
            message: 'use config() instead'
        -
            function: 'env_explode()'
            message: 'use config() instead'
        -
            function: 'env_getcsv()'
            message: 'use config() instead'
    ignoreErrors:
        - '#^@readonly property Guanguans\\Notify\\Foundation\\Response\:\:\$.* is assigned outside of the constructor\.$#'
        - '#^Call to function method_exists\(\) with \$this\(Guanguans\\Notify\\Foundation\\Message\) and ''.*'' will always evaluate to true\.$#'
        - '#^Trait Guanguans\\Notify\\Foundation\\Concerns\\As.* is used zero times and is not analysed\.$#'
        -
            identifier: argument.templateType
        -
            identifier: missingType.generics
        -
            identifier: missingType.iterableValue
        -
            identifier: new.static
        -
            identifier: logicalAnd.resultUnused
        -
            identifier: logicalOr.resultUnused
        -
            identifier: symplify.noDynamicName
#        -
#            message: '#^Calling sha1\(\) is forbidden, use hash\(\) with at least SHA\-256 for secure hash, or password_hash\(\) for passwords\.$#'
#            path: src/Foundation/Authenticators/WsseAuthenticator.php
