parameters:
	ignoreErrors:
		-
			message: """
				#^PHPDoc tag @param has invalid value \\(array\\{
				    name\\: string,
				    contents\\: StreamInterface\\|resource\\|string,
				    headers\\: array\\<string, string\\>,
				    filename\\: string
				    \\.\\.\\.
				\\}\\|StreamInterface\\|resource\\|scalar\\|null  \\$contents\\)\\: Unexpected token "\\.\\.\\.", expected '\\}' at offset 245$#
			"""
			count: 1
			path: src/Foundation/Support/Utils.php

		-
			message: "#^Method Guanguans\\\\Notify\\\\ServerChan\\\\Messages\\\\Message\\:\\:encrypt\\(\\) is unused\\.$#"
			count: 1
			path: src/ServerChan/Messages/Message.php
