<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  cacheResultFile="build/phpunit/.phpunit.result.cache"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  verbose="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory>src/Foundation/Rectors</directory>
      <directory>src/Foundation/Support</directory>
      <file>src/Skeleton.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Guanguans Test Suite">
      <directory>tests/</directory>
      <exclude>vendor/</exclude>
    </testsuite>
  </testsuites>
</phpunit>
