<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="vendor/autoload.php"
  cacheResultFile=".build/phpunit/.phpunit.result.cache"
  colors="true"
  verbose="true"
  xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
>
  <!--printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"-->
  <!--printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printers\DefaultPrinter"-->
  <!--printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printers\ReportablePrinter"-->
  <testsuites>
    <testsuite name="Guanguans Test Suite">
      <directory>tests/</directory>
      <exclude>vendor/</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory>src/Foundation/Rectors</directory>
      <directory>src/Foundation/Support</directory>
      <file>src/Skeleton.php</file>
    </exclude>
  </source>
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory>src/Foundation/Rectors</directory>
      <directory>src/Foundation/Support</directory>
      <file>src/Skeleton.php</file>
    </exclude>
  </coverage>
  <extensions>
    <!--<extension class="NunoMaduro\Collision\Adapters\Phpunit\Printer"/>-->
    <!--<extension class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>-->
    <!--<bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>-->
  </extensions>
</phpunit>
