<?xml version="1.0"?>
<psalm
  cacheDirectory="./build/psalm/"
  errorBaseline="psalm-baseline.xml"
  errorLevel="4"
  findUnusedBaselineEntry="true"
  findUnusedCode="false"
  findUnusedVariablesAndParams="true"
  resolveFromConfigFile="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://getpsalm.org/schema/config"
  xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
  <projectFiles>
    <directory name="src"/>
    <ignoreFiles>
      <directory name="vendor"/>
    </ignoreFiles>
  </projectFiles>
  <issueHandlers>
    <PropertyNotSetInConstructor errorLevel="info"/>
    <!--<UnusedClosureParam>
      <errorLevel type="suppress">
        <directory name="src/Messages"/>
      </errorLevel>
    </UnusedClosureParam>-->
  </issueHandlers>
  <plugins>
    <!--<pluginClass class="Psalm\LaravelPlugin\Plugin"/>-->
  </plugins>
</psalm>
