# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Unable to resolve the template type TMakeKey in call to static method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:make\(\)$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Unable to resolve the template type TMakeValue in call to static method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:make\(\)$#'
            count: 1
            path: ../src/Foundation/Response.php
