# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Only iterables can be unpacked, mixed given in argument \#1\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php
