# total 5 errors

parameters:
    ignoreErrors:
        -
            message: '#^Property Guanguans\\Notify\\Foundation\\Authenticators\\AggregateAuthenticator\:\:\$authenticators \(list\<Guanguans\\Notify\\Foundation\\Contracts\\Authenticator\>\) does not accept array\<int\|string, Guanguans\\Notify\\Foundation\\Contracts\\Authenticator\>\.$#'
            count: 1
            path: ../src/Foundation/Authenticators/AggregateAuthenticator.php

        -
            message: '#^Property Guanguans\\Notify\\Foundation\\Message\:\:\$options \(array\<string, mixed\>\) does not accept array\.$#'
            count: 1
            path: ../src/Foundation/Message.php

        -
            message: '#^Property Guanguans\\Notify\\Foundation\\Rectors\\HasHttpClientDocCommentRector\:\:\$except \(list\<string\>\) does not accept array\<string\>\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Property Guanguans\\Notify\\Foundation\\Rectors\\HasOptionsRector\:\:\$classes \(list\<class\-string\<Guanguans\\Notify\\Foundation\\Message\>\>\) does not accept array\<class\-string\>\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasOptionsRector.php

        -
            message: '#^Property Guanguans\\Notify\\Foundation\\Response\:\:\$decoded \(array\) does not accept mixed\.$#'
            count: 1
            path: ../src/Foundation/Response.php
