# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Property Guanguans\\Notify\\Foundation\\Response\:\:\$decoded \(array\) does not accept mixed\.$#'
            count: 1
            path: ../src/Foundation/Response.php
