# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in &&, string\|false given on the right side\.$#'
            count: 1
            path: ../src/Foundation/Support/Utils.php
