# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in &&, int\<0, 1\> given on the left side\.$#'
            count: 1
            path: ../src/Foundation/Support/Utils.php

        -
            message: '#^Only booleans are allowed in &&, int\<0, 2\> given on the left side\.$#'
            count: 1
            path: ../src/Foundation/Support/Utils.php

        -
            message: '#^Only booleans are allowed in &&, mixed given on the left side\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php
