# total 7 errors

parameters:
    ignoreErrors:
        -
            message: '#^Call to method getConfig\(\) on an unknown class Composer\\Composer\.$#'
            count: 1
            path: ../src/Foundation/Support/ComposerScripts.php

        -
            message: '#^Call to method writeError\(\) on an unknown class Composer\\IO\\IOInterface\.$#'
            count: 4
            path: ../src/Foundation/Support/ComposerScripts.php

        -
            message: '#^Call to method write\(\) on an unknown class Composer\\IO\\IOInterface\.$#'
            count: 2
            path: ../src/Foundation/Support/ComposerScripts.php
