# total 9 errors

parameters:
    ignoreErrors:
        -
            message: '#^Part \$key \(mixed\) of encapsed string cannot be cast to string\.$#'
            count: 1
            path: ../src/Foundation/Support/Utils.php

        -
            message: '#^Part \$value \(mixed\) of encapsed string cannot be cast to string\.$#'
            count: 1
            path: ../src/Foundation/Support/Utils.php

        -
            message: '#^Part \$this\-\>getOption\(''groupId''\) \(mixed\) of encapsed string cannot be cast to string\.$#'
            count: 1
            path: ../src/Push/Messages/GroupMessage.php

        -
            message: '#^Part \$this\-\>getOption\(''channel_id''\) \(mixed\) of encapsed string cannot be cast to string\.$#'
            count: 1
            path: ../src/QQ/Messages/Message.php

        -
            message: '#^Part \$this\-\>getOption\(''type''\) \(mixed\) of encapsed string cannot be cast to string\.$#'
            count: 1
            path: ../src/WeWork/Messages/UploadMediaMessage.php

        -
            message: '#^Part \$this\-\>getOption\(''bot_unique_name''\) \(mixed\) of encapsed string cannot be cast to string\.$#'
            count: 1
            path: ../src/ZohoCliq/Messages/BotMessage.php

        -
            message: '#^Part \$this\-\>getOption\(''channel_unique_name''\) \(mixed\) of encapsed string cannot be cast to string\.$#'
            count: 1
            path: ../src/ZohoCliq/Messages/ChannelMessage.php

        -
            message: '#^Part \$this\-\>getOption\(''chat_id''\) \(mixed\) of encapsed string cannot be cast to string\.$#'
            count: 1
            path: ../src/ZohoCliq/Messages/ChatMessage.php

        -
            message: '#^Part \$this\-\>getOption\(''email_id''\) \(mixed\) of encapsed string cannot be cast to string\.$#'
            count: 1
            path: ../src/ZohoCliq/Messages/UserMessage.php
