# total 53 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method Guanguans\\Notify\\DingTalk\\Authenticator\:\:__construct\(\) has parameter \$secret with null as default value\.$#'
            count: 1
            path: ../src/DingTalk/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Authenticators\\CertificateAuthenticator\:\:__construct\(\) has parameter \$password with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Authenticators/CertificateAuthenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:__construct\(\) has parameter \$directory with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:getMultiple\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:get\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:setMultiple\(\) has parameter \$ttl with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:set\(\) has parameter \$ttl with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\MemoryCache\:\:getMultiple\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/MemoryCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\MemoryCache\:\:get\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/MemoryCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\MemoryCache\:\:setMultiple\(\) has parameter \$ttl with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/MemoryCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\MemoryCache\:\:set\(\) has parameter \$ttl with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/MemoryCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\NullCache\:\:getMultiple\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/NullCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\NullCache\:\:get\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/NullCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\NullCache\:\:setMultiple\(\) has parameter \$ttl with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/NullCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\NullCache\:\:set\(\) has parameter \$ttl with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Caches/NullCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Client\:\:mock\(\) has parameter \$onFulfilled with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Client\:\:mock\(\) has parameter \$onRejected with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Client\:\:mock\(\) has parameter \$queue with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:createFromResponse\(\) has parameter \$bodySummarizer with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:createFromResponse\(\) has parameter \$previous with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:create\(\) has parameter \$bodySummarizer with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:create\(\) has parameter \$previous with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:create\(\) has parameter \$response with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Message\:\:getOption\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Message.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Message\:\:getValidatedOption\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Message.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:array\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:array\(\) has parameter \$key with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:collect\(\) has parameter \$key with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:cookies\(\) has parameter \$cookieJar with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:fluent\(\) has parameter \$key with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:json\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:json\(\) has parameter \$key with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:request\(\) has parameter \$request with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:throwIf\(\) has parameter \$callback with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:throw\(\) has parameter \$callback with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:transferStats\(\) has parameter \$transferStats with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Support\\Arr\:\:filterRecursive\(\) has parameter \$callback with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Support\\Arr\:\:get\(\) has parameter \$default with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Support\\Arr\:\:rejectRecursive\(\) has parameter \$callback with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Support\\Str\:\:substr\(\) has parameter \$length with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Function Guanguans\\Notify\\Foundation\\Support\\rescue\(\) has parameter \$rescuer with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Support/helpers.php

        -
            message: '#^Function Guanguans\\Notify\\Foundation\\Support\\tap\(\) has parameter \$callback with null as default value\.$#'
            count: 1
            path: ../src/Foundation/Support/helpers.php

        -
            message: '#^Method Guanguans\\Notify\\GoogleChat\\Authenticator\:\:__construct\(\) has parameter \$threadKey with null as default value\.$#'
            count: 1
            path: ../src/GoogleChat/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Lark\\Authenticator\:\:__construct\(\) has parameter \$secret with null as default value\.$#'
            count: 1
            path: ../src/Lark/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Ntfy\\Authenticator\:\:__construct\(\) has parameter \$password with null as default value\.$#'
            count: 1
            path: ../src/Ntfy/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Ntfy\\Authenticator\:\:__construct\(\) has parameter \$usernameOrToken with null as default value\.$#'
            count: 1
            path: ../src/Ntfy/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\PushMe\\Authenticator\:\:__construct\(\) has parameter \$pushKey with null as default value\.$#'
            count: 1
            path: ../src/PushMe/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\PushMe\\Authenticator\:\:__construct\(\) has parameter \$tempKey with null as default value\.$#'
            count: 1
            path: ../src/PushMe/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\Authenticator\:\:__construct\(\) has parameter \$cacheKey with null as default value\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\Authenticator\:\:__construct\(\) has parameter \$client with null as default value\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\Authenticator\:\:__construct\(\) has parameter \$dataCenter with null as default value\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\Authenticator\:\:__construct\(\) has parameter \$retryDelay with null as default value\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:__construct\(\) has parameter \$value with null as default value\.$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php
