# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Function mkdir\(\) is invoked with named argument for parameter \$directory\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Function mkdir\(\) is invoked with named argument for parameter \$recursive\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php
