# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Support\\Arr\:\:forget\(\) has parameter \$array that is passed by reference\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Support\\Arr\:\:set\(\) has parameter \$array that is passed by reference\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php
