# total 44 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method Guanguans\\Notify\\DingTalk\\Authenticator\:\:__construct\(\) has parameter \$secret with a nullable type declaration\.$#'
            count: 1
            path: ../src/DingTalk/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Authenticators\\BearerAuthenticator\:\:__construct\(\) has parameter \$bearer with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Authenticators/BearerAuthenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Authenticators\\CertificateAuthenticator\:\:__construct\(\) has parameter \$password with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Authenticators/CertificateAuthenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:__construct\(\) has parameter \$directory with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:expiration\(\) has parameter \$seconds with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:setMultiple\(\) has parameter \$ttl with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:set\(\) has parameter \$ttl with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\MemoryCache\:\:getTTL\(\) has parameter \$ttl with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Caches/MemoryCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\MemoryCache\:\:setMultiple\(\) has parameter \$ttl with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Caches/MemoryCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\MemoryCache\:\:set\(\) has parameter \$ttl with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Caches/MemoryCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\NullCache\:\:setMultiple\(\) has parameter \$ttl with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Caches/NullCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Caches\\NullCache\:\:set\(\) has parameter \$ttl with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Caches/NullCache.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Client\:\:mock\(\) has parameter \$onFulfilled with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Client\:\:mock\(\) has parameter \$onRejected with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:createFromResponse\(\) has parameter \$bodySummarizer with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:createFromResponse\(\) has parameter \$previous with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:create\(\) has parameter \$bodySummarizer with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:create\(\) has parameter \$previous with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:create\(\) has parameter \$response with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Message\:\:toFormParams\(\) has parameter \$argSeparator with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Message.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Message\:\:toQuery\(\) has parameter \$argSeparator with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Message.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Rectors\\HasOptionsRector\:\:createPhpDocTagNodeOfMethod\(\) has parameter \$optionAllowedTypes with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasOptionsRector.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:cookies\(\) has parameter \$cookieJar with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:request\(\) has parameter \$request with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:throwIf\(\) has parameter \$callback with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:throw\(\) has parameter \$callback with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Response\:\:transferStats\(\) has parameter \$transferStats with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Support\\Arr\:\:filterRecursive\(\) has parameter \$callback with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Support\\Arr\:\:rejectRecursive\(\) has parameter \$callback with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Method Guanguans\\Notify\\Foundation\\Support\\Str\:\:substr\(\) has parameter \$length with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Function Guanguans\\Notify\\Foundation\\Support\\rescue\(\) has parameter \$rescuer with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Support/helpers.php

        -
            message: '#^Function Guanguans\\Notify\\Foundation\\Support\\tap\(\) has parameter \$callback with a nullable type declaration\.$#'
            count: 1
            path: ../src/Foundation/Support/helpers.php

        -
            message: '#^Method Guanguans\\Notify\\GoogleChat\\Authenticator\:\:__construct\(\) has parameter \$threadKey with a nullable type declaration\.$#'
            count: 1
            path: ../src/GoogleChat/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Lark\\Authenticator\:\:__construct\(\) has parameter \$secret with a nullable type declaration\.$#'
            count: 1
            path: ../src/Lark/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Ntfy\\Authenticator\:\:__construct\(\) has parameter \$password with a nullable type declaration\.$#'
            count: 1
            path: ../src/Ntfy/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\Ntfy\\Authenticator\:\:__construct\(\) has parameter \$usernameOrToken with a nullable type declaration\.$#'
            count: 1
            path: ../src/Ntfy/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\PushMe\\Authenticator\:\:__construct\(\) has parameter \$pushKey with a nullable type declaration\.$#'
            count: 1
            path: ../src/PushMe/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\PushMe\\Authenticator\:\:__construct\(\) has parameter \$tempKey with a nullable type declaration\.$#'
            count: 1
            path: ../src/PushMe/Authenticator.php

        -
            message: '#^Closure has parameter \$response with a nullable type declaration\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\Authenticator\:\:__construct\(\) has parameter \$cacheKey with a nullable type declaration\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\Authenticator\:\:__construct\(\) has parameter \$client with a nullable type declaration\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\Authenticator\:\:__construct\(\) has parameter \$dataCenter with a nullable type declaration\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\Authenticator\:\:__construct\(\) has parameter \$retryDelay with a nullable type declaration\.$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Method Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:__construct\(\) has parameter \$value with a nullable type declaration\.$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php
