# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Foreach overwrites \$key with its value variable\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php
