# total 28 errors

includes:
    - assign.propertyType.neon
    - disallowed.function.neon
    - function.alreadyNarrowedType.neon
    - method.nonObject.neon
    - method.notFound.neon
    - new.static.neon
    - typePerfect.narrowPublicClassMethodParamType.neon
