# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Unused result of "and" operator\.$#'
            count: 1
            path: ../src/Foundation/Message.php

        -
            message: '#^Unused result of "and" operator\.$#'
            count: 1
            path: ../src/GoogleChat/Authenticator.php
