# total 9 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cannot call method setDefault\(\) on mixed\.$#'
            count: 5
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Cannot call method setOptions\(\) on mixed\.$#'
            count: 2
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Cannot call method setDefault\(\) on mixed\.$#'
            count: 2
            path: ../src/ZohoCliq/Messages/AbstractMessage.php
