# total 22 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cannot call method explode\(\) on mixed\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Cannot call method implode\(\) on mixed\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Cannot call method map\(\) on mixed\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Cannot call method match\(\) on mixed\.$#'
            count: 2
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Cannot call method replace\(\) on mixed\.$#'
            count: 2
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Cannot call method sort\(\) on mixed\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Cannot call method toString\(\) on mixed\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Cannot call method whenEmpty\(\) on mixed\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Cannot call method whenStartsWith\(\) on mixed\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Cannot call method whenNotEmpty\(\) on Illuminate\\Support\\Collection\<int, string\>\|null\.$#'
            count: 1
            path: ../src/Foundation/Rectors/HasOptionsRector.php

        -
            message: '#^Cannot call method get\(\) on mixed\.$#'
            count: 1
            path: ../src/Foundation/Support/ComposerScripts.php

        -
            message: '#^Cannot call method setDefault\(\) on mixed\.$#'
            count: 5
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Cannot call method setOptions\(\) on mixed\.$#'
            count: 2
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Cannot call method setDefault\(\) on mixed\.$#'
            count: 2
            path: ../src/ZohoCliq/Messages/Message.php
