# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '#^Variable method call on GuzzleHttp\\HandlerStack\.$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Variable method call on object\.$#'
            count: 1
            path: ../src/Foundation/Support/helpers.php

        -
            message: '#^Variable method call on Symfony\\Component\\OptionsResolver\\OptionsResolver\.$#'
            count: 1
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Variable method call on mixed\.$#'
            count: 2
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Variable method call on Symfony\\Component\\OptionsResolver\\OptionsResolver\.$#'
            count: 1
            path: ../src/ZohoCliq/Messages/Message.php
