# total 9 errors

parameters:
    ignoreErrors:
        -
            message: '#^Public constant "Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:AU" is never used$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php

        -
            message: '#^Public constant "Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:CA" is never used$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php

        -
            message: '#^Public constant "Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:CN" is never used$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php

        -
            message: '#^Public constant "Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:EU" is never used$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php

        -
            message: '#^Public constant "Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:IN" is never used$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php

        -
            message: '#^Public constant "Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:JP" is never used$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php

        -
            message: '#^Public constant "Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:SA" is never used$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php

        -
            message: '#^Public constant "Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:UK" is never used$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php

        -
            message: '#^Public constant "Guanguans\\Notify\\ZohoCliq\\DataCenter\:\:US" is never used$#'
            count: 1
            path: ../src/ZohoCliq/DataCenter.php
