# total 77 errors

parameters:
    ignoreErrors:
        -
            message: '#^Public method "Guanguans\\Notify\\DingTalk\\Messages\\BtnsActionCardMessage\:\:addBtn\(\)" is never used$#'
            count: 1
            path: ../src/DingTalk/Messages/BtnsActionCardMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\DingTalk\\Messages\\FeedCardMessage\:\:addLink\(\)" is never used$#'
            count: 1
            path: ../src/DingTalk/Messages/FeedCardMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\Discord\\Messages\\Message\:\:addEmbed\(\)" is never used$#'
            count: 1
            path: ../src/Discord/Messages/Message.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Caches\\FileCache\:\:directory\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Caches\\MemoryCache\:\:getKeys\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Caches/MemoryCache.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Client\:\:getAuthenticator\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Client\:\:pool\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Client\:\:setAuthenticator\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Exceptions\\RequestException\:\:fromGuzzleRequestException\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Exceptions/RequestException.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Message\:\:make\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Message.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Rectors\\HasHttpClientDocCommentRector\:\:getRuleDefinition\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Rectors\\HasOptionsRector\:\:getRuleDefinition\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Rectors/HasOptionsRector.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:array\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:body\(\)" is used only locally and should be turned protected/private$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:clientError\(\)" is used only locally and should be turned protected/private$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:close\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:collect\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:dataUrl\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:effectiveUri\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:failed\(\)" is used only locally and should be turned protected/private$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:fluent\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:handlerStats\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:header\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:headers\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:is\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:object\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:onError\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:reason\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:redirect\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:resource\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:saveAs\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:serverError\(\)" is used only locally and should be turned protected/private$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:status\(\)" is used only locally and should be turned protected/private$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:stream\(\)" is used only locally and should be turned protected/private$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:successful\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:throwIfClientError\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:throwIfServerError\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:throwIfStatus\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:throwIf\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:throwUnlessStatus\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:toException\(\)" is used only locally and should be turned protected/private$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Response\:\:xml\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Arr\:\:accessible\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Arr\:\:exists\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Arr\:\:filterRecursive\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Arr\:\:forget\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Arr\:\:map\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Arr\:\:set\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Str\:\:flushCache\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Str\:\:lcfirst\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Str\:\:lower\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Str\:\:replace\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Str\:\:substr\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Str\:\:ucfirst\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Public method "Guanguans\\Notify\\Foundation\\Support\\Str\:\:upper\(\)" is never used$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Public method "Guanguans\\Notify\\Lark\\Messages\\PostMessage\:\:postFor\(\)" is never used$#'
            count: 1
            path: ../src/Lark/Messages/PostMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\MicrosoftTeams\\Messages\\Message\:\:addPotentialAction\(\)" is never used$#'
            count: 1
            path: ../src/MicrosoftTeams/Messages/Message.php

        -
            message: '#^Public method "Guanguans\\Notify\\MicrosoftTeams\\Messages\\Message\:\:addSection\(\)" is never used$#'
            count: 1
            path: ../src/MicrosoftTeams/Messages/Message.php

        -
            message: '#^Public method "Guanguans\\Notify\\Ntfy\\Messages\\Message\:\:addAction\(\)" is never used$#'
            count: 1
            path: ../src/Ntfy/Messages/Message.php

        -
            message: '#^Public method "Guanguans\\Notify\\RocketChat\\Messages\\Message\:\:addAttachment\(\)" is never used$#'
            count: 1
            path: ../src/RocketChat/Messages/Message.php

        -
            message: '#^Public method "Guanguans\\Notify\\Slack\\Messages\\Message\:\:addAttachment\(\)" is never used$#'
            count: 1
            path: ../src/Slack/Messages/Message.php

        -
            message: '#^Public method "Guanguans\\Notify\\Slack\\Messages\\Message\:\:addBlock\(\)" is never used$#'
            count: 1
            path: ../src/Slack/Messages/Message.php

        -
            message: '#^Public method "Guanguans\\Notify\\Telegram\\Messages\\AnimationMessage\:\:addCaptionEntity\(\)" is never used$#'
            count: 1
            path: ../src/Telegram/Messages/AnimationMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\Telegram\\Messages\\AudioMessage\:\:addCaptionEntity\(\)" is never used$#'
            count: 1
            path: ../src/Telegram/Messages/AudioMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\Telegram\\Messages\\DocumentMessage\:\:addCaptionEntity\(\)" is never used$#'
            count: 1
            path: ../src/Telegram/Messages/DocumentMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\Telegram\\Messages\\MediaGroupMessage\:\:addMedia\(\)" is never used$#'
            count: 1
            path: ../src/Telegram/Messages/MediaGroupMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\Telegram\\Messages\\PhotoMessage\:\:addCaptionEntity\(\)" is never used$#'
            count: 1
            path: ../src/Telegram/Messages/PhotoMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\Telegram\\Messages\\PollMessage\:\:addExplanationEntity\(\)" is never used$#'
            count: 1
            path: ../src/Telegram/Messages/PollMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\Telegram\\Messages\\TextMessage\:\:addEntity\(\)" is never used$#'
            count: 1
            path: ../src/Telegram/Messages/TextMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\Telegram\\Messages\\VideoMessage\:\:addCaptionEntity\(\)" is never used$#'
            count: 1
            path: ../src/Telegram/Messages/VideoMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\Telegram\\Messages\\VoiceMessage\:\:addCaptionEntity\(\)" is never used$#'
            count: 1
            path: ../src/Telegram/Messages/VoiceMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\WeWork\\Messages\\NewsMessage\:\:addArticle\(\)" is never used$#'
            count: 1
            path: ../src/WeWork/Messages/NewsMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\WeWork\\Messages\\TemplateCardMessage\:\:addHorizontalContent\(\)" is never used$#'
            count: 1
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\WeWork\\Messages\\TemplateCardMessage\:\:addJump\(\)" is never used$#'
            count: 1
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\WeWork\\Messages\\TemplateCardMessage\:\:addVerticalContent\(\)" is never used$#'
            count: 1
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Public method "Guanguans\\Notify\\ZohoCliq\\Messages\\Message\:\:addButton\(\)" is never used$#'
            count: 1
            path: ../src/ZohoCliq/Messages/Message.php

        -
            message: '#^Public method "Guanguans\\Notify\\ZohoCliq\\Messages\\Message\:\:addSlide\(\)" is never used$#'
            count: 1
            path: ../src/ZohoCliq/Messages/Message.php
