# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Array key must be integer or string, but string\|null given\.$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php
