# total 212 errors

parameters:
    ignoreErrors:
        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 2
            path: ../src/Chanify/Messages/TextMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\UndefinedOptionsException in closure\!$#'
            count: 1
            path: ../src/Chanify/Messages/TextMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 2
            path: ../src/DingTalk/Messages/BtnsActionCardMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 2
            path: ../src/DingTalk/Messages/FeedCardMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 26
            path: ../src/Discord/Messages/Message.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\UndefinedOptionsException in closure\!$#'
            count: 9
            path: ../src/Discord/Messages/Message.php

        -
            message: '#^Throwing checked exception Guanguans\\Notify\\Foundation\\Exceptions\\LogicException in closure\!$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Throwing checked exception JsonException in closure\!$#'
            count: 1
            path: ../src/Foundation/Support/ComposerScripts.php

        -
            message: '#^Throwing checked exception ReflectionException in closure\!$#'
            count: 2
            path: ../src/Foundation/Support/ComposerScripts.php

        -
            message: '#^Throwing checked exception RuntimeException in closure\!$#'
            count: 1
            path: ../src/Foundation/Support/Utils.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 3
            path: ../src/Lark/Messages/PostMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\UndefinedOptionsException in closure\!$#'
            count: 1
            path: ../src/Lark/Messages/PostMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 15
            path: ../src/MicrosoftTeams/Messages/Message.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\UndefinedOptionsException in closure\!$#'
            count: 11
            path: ../src/MicrosoftTeams/Messages/Message.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 5
            path: ../src/Ntfy/Messages/Message.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\UndefinedOptionsException in closure\!$#'
            count: 3
            path: ../src/Ntfy/Messages/Message.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 28
            path: ../src/QQ/Messages/Message.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\UndefinedOptionsException in closure\!$#'
            count: 8
            path: ../src/QQ/Messages/Message.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 9
            path: ../src/RocketChat/Messages/Message.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\UndefinedOptionsException in closure\!$#'
            count: 4
            path: ../src/RocketChat/Messages/Message.php

        -
            message: '#^Throwing checked exception JsonException in arrow function\!$#'
            count: 1
            path: ../src/Telegram/Messages/MediaGroupMessage.php

        -
            message: '#^Throwing checked exception JsonException in arrow function\!$#'
            count: 1
            path: ../src/Telegram/Messages/PollMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 28
            path: ../src/Telegram/Messages/TextMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\UndefinedOptionsException in closure\!$#'
            count: 20
            path: ../src/Telegram/Messages/TextMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 2
            path: ../src/WeWork/Messages/NewsMessage.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 13
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Throwing checked exception InvalidArgumentException in arrow function\!$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Throwing checked exception InvalidArgumentException in closure\!$#'
            count: 2
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Throwing checked exception Psr\\SimpleCache\\InvalidArgumentException in closure\!$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\AccessException in closure\!$#'
            count: 8
            path: ../src/ZohoCliq/Messages/Message.php

        -
            message: '#^Throwing checked exception Symfony\\Component\\OptionsResolver\\Exception\\UndefinedOptionsException in closure\!$#'
            count: 1
            path: ../src/ZohoCliq/Messages/Message.php
