# total 4 errors

parameters:
    ignoreErrors:
        -
            message: '#^Null value involved in binary operation\: \(callable\)\|null and mixed$#'
            count: 1
            path: ../src/Foundation/Response.php

        -
            message: '#^Null value involved in binary operation\: \(callable\)\|null and mixed$#'
            count: 2
            path: ../src/Foundation/Support/helpers.php

        -
            message: '#^Null value involved in binary operation\: string\|null and string$#'
            count: 1
            path: ../src/GoogleChat/Authenticator.php
