# total 7 errors

parameters:
    ignoreErrors:
        -
            message: '#^Overwriting variable \$queue while changing its type from Psr\\Http\\Message\\ResponseInterface\|Throwable to array\<int, Psr\\Http\\Message\\ResponseInterface\|Throwable\>$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Overwriting variable \$arguments while changing its type from string to array\<int, string\>$#'
            count: 1
            path: ../src/Foundation/Message.php

        -
            message: '#^Overwriting variable \$key while changing its type from float to string$#'
            count: 1
            path: ../src/Foundation/Support/Arr.php

        -
            message: '#^Overwriting variable \$patterns while changing its type from string to array\<int, string\>$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Overwriting variable \$replace while changing its type from Traversable to array$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Overwriting variable \$search while changing its type from Traversable to array$#'
            count: 1
            path: ../src/Foundation/Support/Str.php

        -
            message: '#^Overwriting variable \$subject while changing its type from Traversable to array$#'
            count: 1
            path: ../src/Foundation/Support/Str.php
