# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Unused match result detected, possible returns\: string$#'
            count: 1
            path: ../src/Foundation/Rectors/HasOptionsRector.php
