# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '#^Use explicit names over dynamic ones$#'
            count: 1
            path: ../src/Foundation/Client.php

        -
            message: '#^Use explicit names over dynamic ones$#'
            count: 1
            path: ../src/Foundation/Support/helpers.php

        -
            message: '#^Use explicit names over dynamic ones$#'
            count: 3
            path: ../src/WeWork/Messages/TemplateCardMessage.php

        -
            message: '#^Use explicit names over dynamic ones$#'
            count: 1
            path: ../src/ZohoCliq/Messages/Message.php
