# total 86 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/AnPush/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/AnPush/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Bark/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Bark/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Chanify/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Chanify/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Chanify/Messages/AudioMessage.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Chanify/Messages/FileMessage.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Chanify/Messages/ImageMessage.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Chanify/Messages/LinkMessage.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Chanify/Messages/TextMessage.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/DingTalk/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/DingTalk/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Discord/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Discord/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Authenticators/BasicAuthenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Authenticators/BearerAuthenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Authenticators/CertificateAuthenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Authenticators/OptionsAuthenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Authenticators/TokenUriTemplateAuthenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Authenticators/UriTemplateAuthenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Authenticators/WebHookAuthenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Authenticators/WsseAuthenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Exceptions/CacheInvalidArgumentException.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Foundation/Exceptions/CacheRuntimeException.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Gitter/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Gitter/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/GoogleChat/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/GoogleChat/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/IGot/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/IGot/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Lark/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Lark/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Mattermost/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Mattermost/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/MicrosoftTeams/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/MicrosoftTeams/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/NowPush/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/NowPush/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Ntfy/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Ntfy/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Push/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Push/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Push/Messages/AsyncMessage.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Push/Messages/GroupMessage.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/PushBullet/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/PushBullet/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/PushDeer/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/PushDeer/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/PushMe/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/PushMe/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/PushPlus/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/PushPlus/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Pushback/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Pushback/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Pushback/Messages/SyncMessage.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Pushover/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Pushover/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/QQ/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/QQ/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/RocketChat/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/RocketChat/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/ServerChan/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/ServerChan/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/ShowdocPush/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/ShowdocPush/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/SimplePush/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/SimplePush/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Slack/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Slack/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Telegram/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Telegram/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/WPush/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/WPush/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/WeWork/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/WeWork/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/XiZhi/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/XiZhi/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/YiFengChuanHua/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/YiFengChuanHua/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/ZohoCliq/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/ZohoCliq/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/ZohoCliqWebHook/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/ZohoCliqWebHook/Client.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Zulip/Authenticator.php

        -
            message: '#^Only abstract classes can be extended$#'
            count: 1
            path: ../src/Zulip/Client.php
