# total 11 errors

parameters:
    ignoreErrors:
        -
            message: '#^Setter method cannot return anything, only set value$#'
            count: 1
            path: ../src/Foundation/Caches/FileCache.php

        -
            message: '#^Setter method cannot return anything, only set value$#'
            count: 1
            path: ../src/Foundation/Caches/MemoryCache.php

        -
            message: '#^Setter method cannot return anything, only set value$#'
            count: 1
            path: ../src/Foundation/Caches/NullCache.php

        -
            message: '#^Setter method cannot return anything, only set value$#'
            count: 6
            path: ../src/Foundation/Client.php

        -
            message: '#^Setter method cannot return anything, only set value$#'
            count: 2
            path: ../src/Foundation/Message.php
