# total 11 errors

parameters:
    ignoreErrors:
        -
            message: '#^Mixed variable in a `str\(\$reflectionClassConstant\-\>getDocComment\(\)\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '''
                #^Mixed variable in a `str\(\$reflectionClassConstant\-\>getDocComment\(\)\)\-\>match\(
                    /\*\* @lang PhpRegExp \*/
                    // '/\:\\s\*\\\(\(\.\*\?\)\\\)/',
                    '/\:\\s\*\\\(\(\.\*\?\)\(\?\:,\\s\*default\=\.\*\?\)\?\\\)/'
                \)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#
            '''
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '''
                #^Mixed variable in a `str\(\$reflectionClassConstant\-\>getDocComment\(\)\)\-\>match\(
                    /\*\* @lang PhpRegExp \*/
                    // '/\:\\s\*\\\(\(\.\*\?\)\\\)/',
                    '/\:\\s\*\\\(\(\.\*\?\)\(\?\:,\\s\*default\=\.\*\?\)\?\\\)/'
                \)\-\>whenEmpty\(static fn\(\)\: \\Illuminate\\Support\\Stringable \=\> str\('mixed'\)\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#
            '''
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '''
                #^Mixed variable in a `str\(\$reflectionClassConstant\-\>getDocComment\(\)\)\-\>match\(
                    /\*\* @lang PhpRegExp \*/
                    // '/\:\\s\*\\\(\(\.\*\?\)\\\)/',
                    '/\:\\s\*\\\(\(\.\*\?\)\(\?\:,\\s\*default\=\.\*\?\)\?\\\)/'
                \)\-\>whenEmpty\(static fn\(\)\: \\Illuminate\\Support\\Stringable \=\> str\('mixed'\)\)\-\>explode\(\$delimiter \= '\|'\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#
            '''
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '''
                #^Mixed variable in a `str\(\$reflectionClassConstant\-\>getDocComment\(\)\)\-\>match\(
                    /\*\* @lang PhpRegExp \*/
                    // '/\:\\s\*\\\(\(\.\*\?\)\\\)/',
                    '/\:\\s\*\\\(\(\.\*\?\)\(\?\:,\\s\*default\=\.\*\?\)\?\\\)/'
                \)\-\>whenEmpty\(static fn\(\)\: \\Illuminate\\Support\\Stringable \=\> str\('mixed'\)\)\-\>explode\(\$delimiter \= '\|'\)\-\>map\(static fn\(string \$type\) \=\> str\(\$type\)\-\>replace\(\['StreamInterface', \\GuzzleHttp\\Cookie\\CookieJarInterface\:\:class\], \['\\\\' \. \\Psr\\Http\\Message\\StreamInterface\:\:class, '\\\\' \. \\GuzzleHttp\\Cookie\\CookieJarInterface\:\:class\]\)\-\>toString\(\)\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#
            '''
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '''
                #^Mixed variable in a `str\(\$reflectionClassConstant\-\>getDocComment\(\)\)\-\>match\(
                    /\*\* @lang PhpRegExp \*/
                    // '/\:\\s\*\\\(\(\.\*\?\)\\\)/',
                    '/\:\\s\*\\\(\(\.\*\?\)\(\?\:,\\s\*default\=\.\*\?\)\?\\\)/'
                \)\-\>whenEmpty\(static fn\(\)\: \\Illuminate\\Support\\Stringable \=\> str\('mixed'\)\)\-\>explode\(\$delimiter \= '\|'\)\-\>map\(static fn\(string \$type\) \=\> str\(\$type\)\-\>replace\(\['StreamInterface', \\GuzzleHttp\\Cookie\\CookieJarInterface\:\:class\], \['\\\\' \. \\Psr\\Http\\Message\\StreamInterface\:\:class, '\\\\' \. \\GuzzleHttp\\Cookie\\CookieJarInterface\:\:class\]\)\-\>toString\(\)\)\-\>sort\(static function \(string \$a, string \$b\)\: int \{
                    if \('null' \!\=\= \$a && 'null' \=\=\= \$b\) \{
                        return 1;
                    \}
                    if \('null' \=\=\= \$a && 'null' \!\=\= \$b\) \{
                        return \-1;
                    \}
                    return strcasecmp\(ltrim\(\$a, '\\\\'\), ltrim\(\$b, '\\\\'\)\);
                \}\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#
            '''
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Mixed variable in a `str\(\$type\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Mixed variable in a `str\(\$type\)\-\>replace\(\[''StreamInterface'', \\GuzzleHttp\\Cookie\\CookieJarInterface\:\:class\], \[''\\\\'' \. \\Psr\\Http\\Message\\StreamInterface\:\:class, ''\\\\'' \. \\GuzzleHttp\\Cookie\\CookieJarInterface\:\:class\]\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Mixed variable in a `str\(\(string\) \$reflectionParameter\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Mixed variable in a `str\(\(string\) \$reflectionParameter\)\-\>match\(''/\\\[ \<\(\?\:required\|optional\)\> \(\.\*\?\) \]/''\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php

        -
            message: '#^Mixed variable in a `str\(\(string\) \$reflectionParameter\)\-\>match\(''/\\\[ \<\(\?\:required\|optional\)\> \(\.\*\?\) \]/''\)\-\>replace\(''NULL'', ''null''\)\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
            count: 1
            path: ../src/Foundation/Rectors/HasHttpClientDocCommentRector.php
