name: phpstan

on:
  workflow_dispatch:
  push:
  pull_request:

env:
  COMPOSER_NO_SECURITY_BLOCKING: 1

permissions:
  contents: read
  security-events: write

jobs:
  phpstan:
    name: phpstan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          # Use composer.json for key, if composer.lock is not committed.
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          # key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Run composer install
        run: composer install --no-interaction --ansi -v

      - name: Run phpstan with sarif error format
        continue-on-error: true
        run: composer phpstan:analyse-error-format-sarif

      - name: Upload the analysis results of sarif to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: .build/phpstan/results.sarif
          wait-for-processing: true

      - name: Run phpstan with annotate-pull-request error format
        continue-on-error: true
        run: composer phpstan:analyse-error-format-annotate-pull-request

      - name: Run phpstan
        run: composer phpstan:analyse
